.container {
  padding: 20px;
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.kanan {
  padding: 20px;
}
.images {
  border-radius: 10px;
}
.price-detail {
  box-sizing: border-box;
  padding: 20px;
  height: 300px;
  width: 300px;
  box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.75);
}

.total {
  margin-top: 30px;
  font-size: 24px;
}
